body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav-header {
  z-index: 99;
  position: fixed;
  width: 100%;
}

.black.nav-header a,
.black.nav-header h2 {
  color: black;
}

section, footer {
  position: relative;
  z-index: 2;
  background-color: white;
}
.slider {
  position: fixed;
  top: 0;
  z-index: 0;
  left: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.slider > div {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100vw;
      transform: translateX(0);
}
.slider #one {
  background-color: white;
}
.slider #two {
  background-color: white;
}
.slider #three {
  background-color: white;
}
.slider #four {
  background-color: white;
}
.offScreen {
  transform: translateX(150vw);
  z-index: 0;
  background-color: pink;
}
.previous {
  transform: translateX(0) !important;
}
.shiftLeft {
  transform: translateX(0vw);
  transition: 0.5s linear;
}
.shiftOn {
  transform: translateX(0vw);
  transition: .85s ease-out;
  z-index: 10;
}

.shiftPrevLeft {
  /* transform: translateX(-100vw); */
  transition: 0.5s linear;
  animation: shiftLeft 0.5s linear;
  background-color: whitesmoke;
}

@keyframes shiftLeft {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}
.slider nav {
  position: absolute;
  z-index: 10;
  color: white;
  width: 100vw;
  height: auto;
  top: 87vh;
  display: flex;
  justify-content: space-between;
    cursor: pointer;
    padding: 0 30px;
}

.slider nav div {
    opacity: 0.5;
    transition: 0.5s linear;

}

.slider nav > span {
  width: 28%;
}
.slider nav div {
  cursor: pointer;
}

.slider nav div small {
  color: black;
  opacity: 0.5;
  transition: 0.5s linear;
  margin-top: 10px;
  display: block;
}
.slider nav div:hover {
  opacity:1;
}

.moduleOneMobile:first-child div{
  opacity: 1;
}

.moduleOneMobile:first-child small a{
  color: white;
}


.moduleTwoMobile:nth-child(2) div{
  opacity: 1;
}

.moduleTwoMobile:nth-child(2) small a{
  color: white;
}

.moduleThreeMobile:nth-child(3) div{
  opacity: 1;
}

.moduleThreeMobile:nth-child(3) small a{
  color: white;

}

.moduleFourMobile:nth-child(4) div{
  opacity: 1;
}

.moduleFourMobile:nth-child(4) small a{
  color: white;

}

#post .main {
  margin-top: 100vh;
      padding-top: 90px;
      padding-left: 0;
      padding-right: 0;
}

#post .slider {
      background-size: cover;
}

.post-grid {
  padding-left: 0;
  padding-right: 0;
}

#post .header {
  position: fixed;
  top: calc(100vh - 70px);
  color: white;
  text-align: left;
  left: 30px;
  right: 0;
  margin: 0 auto;
  height: 0px;
  font-size: 13px;
  line-height: 15px;
}

#post .header p {
  margin-bottom: 3px;
}

#faces .home-grid > div > div > div {
  height: 500px;
  background-color: lightgray;
}

.contact-main div {
  margin-bottom: 23px;
}
.contact-main .description {
  font-size: 34px;
  line-height: 35px;
  margin-bottom: 52px;
}
.contact-main h3 {
  font-size: 13px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.contact-main p.shown {
  font-size: 13px;
  line-height: 15px;
  max-width: 400px;
}

.contact-main a {
    color: #a9a9a9;
    transition: color .25s linear;
}
.contact-main a:hover {
    color: black;
}

input[type="email"] {
  font-family: inherit;
  padding: 5px 0px 0 0;
  border:0;
  font-size: 13px;
  border-bottom: 1px solid #a9a9a9;
  color: black;
}

input[type="email"]::placeholder {
  color: #a9a9a9;
}

input[type="email"]:focus {
  outline: 0;
}
input[type="submit"] {
  border:0;
  font-size: 13px;
  text-transform: uppercase;
  font-family: inherit;
  color: #a9a9a9;
  padding: 0 10px;
  transition: .25s linear;
}
input[type="submit"]:hover {
  color:black
}
